<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <form action="{{ url_for('menu_admin') }}" method="POST">
        <!-- Agrega aquí los campos de entrada que sean necesarios -->
        <label for="opcion">Opción:</label>
        <select id="opcion" name="opcion" required>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            <option value="3">Opción 3</option>
        </select><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
